@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: black;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}

p#excuse {
    color: red;
    border-radius: 50px / 15px;
    background: cornsilk;
    padding: 20px; 
    width: 200px;
    height: 150px;
}

small {
    color: yellow;
}

